<!DOCTYPE html>
<html>
<head>
    <title>I2mate - Template 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>I2meta</h1>

        <form class="form_download"></form>
        <form class="search-form" method="POST" action="/">
            <input type="text" class="search-input" placeholder="URL" name="input_url" >
            <button type="submit" class="search-button" value="Buscar">Buscar</button> 
            <input type="text" id="name" name="name" placeholder="Nombre" value="{{ titulo }}">            
        </form>
        
        <form class="form-data">
            <div class="radio-group">
                <label class="radio-label"> 
                    <input type="radio" id="video" name="format" value="video" {{formato}}>
                    Video
                </label>
                <label class="radio-label">
                    <input type="radio" id="audio" name="format" value="audio">
                    Audio
                </label>
            </div>
            <div class="quality-select">
                <label for="quality">Calidad </label>
                <select id="quality" name="quality">
                    {% for calidad in calidades %}
                    <option value="{{ calidad }}">{{ calidad }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>     
        <div class="miniatura">
            <img src="{{miniatura}}" alt="">
        </div>
            <button type="submit" class="download_button" value="Descargar">Descargar</button>
        </form>

    </div>
</body>
</html>
