<!DOCTYPE html>
<html>
<head>
    <title>I2mate - Template 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>I2meta</h1>

        <form action="{{url_for('app_routes.search', action = aux)}}" class="search-form" method="POST">
            <input type="text" class="search-input" placeholder="URL" name="input_url" value="{{url_video}}" >
            <button type="submit" class="search-button" value="Buscar" name="Buscar">Buscar</button> 
        </form>
        
        <form class="form-data" action="/descargar" method="GET">
            <input type="text" id="name" name="name" placeholder="Nombre" value="{{ titulo }}">   
            <div class="div_flex">
                <div class="radio-group">
                    <label class="radio-label"> 
                        <input type="radio" id="video" name="format" value="video" onchange="updateSelect(this.value)" {{formato}}>
                        Video
                    </label>
                    <label class="radio-label">
                        <input type="radio" id="audio" name="format" value="audio" onchange="updateSelect(this.value)">
                        Audio
                    </label>
                </div>
                <div class="quality-select">
                    <label for="quality">Calidad </label>
                    <select id="quality" name="quality">
                        {% for calidad in calidades_video %}
                        <option value="{{ calidad }}">{{ calidad }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="miniatura">
                <img src="{{miniatura}}" alt="">
            </div>
            
            <input id="quality_hidden" type="hidden" value="{% for calidad in calidades_audio %} {{ calidad }} {% endfor %}">
            <input id="quality_hidden" name="url" type="hidden" value="{{url_video}}">
            <button type="submit" class="download_button" value="Descargar" name="Descargar">Descargar</button>
        </form>

    </div>
</body>
</html>
